<h1>HotDocs: Nav / Sidenav</h1>

<p>
  The Nav (top) and Sidenav (hamburger on mobile) contents are declared in <%= link_to raw("<code>hot_docs_helper</code>"), "https://github.com/3v0k4/hot_docs/blob/main/app/helpers/hot_docs_helper.rb" %>:
</p>

<ul>
  <li><code>nav_left_items</code>: left part of the nav on desktop and sidenav on mobile</li>
  <li><code>nav_right_items</code>: right part of the nav on desktop and sidenav on mobile</li>
  <li><code>menu_items</code>: sidenav on mobile</li>
</ul>

<h2>Implementation</h2>

<ul>
  <li>Html: <%= link_to raw("<code>layouts/hot_docs.html.erb</code>"), "https://github.com/3v0k4/hot_docs/blob/main/app/views/layouts/hot_docs.html.erb" %></li>
  <li>Css: <code>.nav</code> and <code>.sidenav</code> in <%= link_to raw("<code>hot_docs.css</code>"), "https://github.com/3v0k4/hot_docs/blob/main/app/assets/stylesheets/hot_docs.css" %></li>
  <li>JavaScript: <%= link_to raw("<code>sidenav_controller.js</code>"), "https://github.com/3v0k4/hot_docs/blob/main/app/javascript/controllers/sidenav_controller.js" %></li>
  <li>Ruby: <%= link_to raw("<code>hot_docs_helper.rb</code>"), "https://github.com/3v0k4/hot_docs/blob/main/app/helpers/hot_docs_helper.rb" %></li>
</ul>
