<!DOCTYPE html>
<html data-theme="light" lang="<%= I18n.locale %>">
  <head>
    <title><%= content_for(:title) %></title>

    <%= yield :head %>

    <%= stylesheet_link_tag "hotdocs/application", media: "all", "data-turbo-track": "reload" %>
  </head>

  <body data-controller="search">
    <dialog data-search-target="search" class="reset search">
      <div data-search-target="dialog" class="search__dialog">
        <div class="search__header">
          <input autofocus data-action="input->search#search" type="text" class="search__input"></input>
          <button aria-label="Close search dialog" type="button" class="search__dismiss" data-action="click->search#close">
            <svg viewBox="0 0 15 15">
              <g stroke="currentColor" stroke-width="1.2">
                <path d="M.75.75l13.5 13.5M14.25.75L.75 14.25"></path>
              </g>
            </svg>
          </button>
        </div>

        <template data-search-target="resultTemplate">
          <li class="search__result">
            <h1></h1>
            <a href="#" class="search__result-excerpt"></a>
          </li>
        </template>

        <ul data-search-target="results">
          <li class="search__result search__result--loading">
            Loading index...
          </li>
        </ul>
      </div>

      <script type="application/json" data-search-target="data">
        <%= raw(Rails.application.assets.resolver.read("search_data.json")&.force_encoding("UTF-8") || [].to_json) %>
      </script>
    </dialog>

    <% if content_for?(:hotdocs_nav) %>
      <%= content_for(:hotdocs_nav) %>

    <% else %>
      <nav class="reset nav" data-controller="sidenav" data-sidenav-open-class-value="sidenav--open" data-sidenav-main-menu-class-value="sidenav__sections--main">
        <div class="nav__section">
          <button class="nav__toggle" type="button" aria-label="Toggle navigation" aria-expanded="false" data-action="click->sidenav#open">
            <svg viewBox="0 0 30 30" aria-hidden="true">
              <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path>
            </svg>
          </button>

          <%= link_to root_path, class: "nav__brand" do %>
            <% unless logo.nil? %>
              <div class="nav__logo-wrapper">
                <img class="nav__logo" src="<%= logo.src %>" alt="<%= logo.alt %>" height="32" width="32" />
              </div>
            <% end %>

            <span class="nav__title"><%= title %></span>
          <% end %>

          <div class="nav__links">
            <% nav_left_items("nav__link").each do |item| %>
              <%= item %>
            <% end %>
          </div>
        </div>

        <div class="nav__section">
          <div class="nav__links">
            <% nav_right_items("nav__link").each do |item| %>
              <%= item %>
            <% end %>
          </div>

          <button type="button" data-action="click->search#open:stop" class="search-button" aria-label="Open search dialog">
            <svg class="search-button__icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
            </svg>

            <span class="search-button__label">Type / to search</span>
          </button>
        </div>

        <div class="sidenav-backdrop"></div>
        <div class="sidenav">
          <div class="sidenav__header">
            <%= link_to root_path, class: "nav__brand" do %>
              <% unless logo.nil? %>
                <div class="nav__logo-wrapper">
                  <img class="nav__logo" src="<%= logo.src %>" alt="<%= logo.alt %>" height="32" width="32" />
                </div>
              <% end %>

              <span class="nav__title"><%= title %></span>
            <% end %>

            <button aria-label="Close navigation" class="sidenav__toggle" type="button" data-action="click->sidenav#close">
              <svg viewBox="0 0 15 15">
                <g stroke="currentColor" stroke-width="1.2">
                  <path d="M.75.75l13.5 13.5M14.25.75L.75 14.25"></path>
                </g>
              </svg>
            </button>
          </div>

          <div class="sidenav__sections" data-sidenav-target="sections">
            <div class="sidenav__section">
              <ul class="menu__section">
                <% (nav_left_items("menu__link") + nav_right_items("menu__link")).each do |item| %>
                  <li>
                    <div class="menu__row">
                      <%= item %>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>

            <div class="sidenav__section">
              <div class="menu__section">
                <button type="button" class="sidenav__back-button" data-action="click->sidenav#back">← Back to main menu</button>
              </div>

              <%= menu %>
            </div>
          </div>
        </div>
      </nav>
    <% end %>

    <div class="content">
      <aside class="reset menu">
        <div class="menu__sections">
          <%= menu %>
        </div>
      </aside>

      <main data-controller="toc" class="main">
        <div class="central">
          <details name="toc" class="reset toc">
            <summary class="toc__label">Table of contents</summary>

            <ul class="toc__entries" data-toc-target="toc">
              <template data-toc-target="tocTemplate">
                <li><a id class="toc__link" href></a></li>
              </template>
            </ul>
          </details>

          <article class="article" data-toc-target="article">
            <%= yield %>
          </article>

          <div class="reset">
            <%= edit_link %>
          </div>
        </div>

        <div class="reset sidetoc">
          <ul class="sidetoc__entries" data-toc-target="sidetoc">
            <template data-toc-target="sidetocTemplate">
              <li><a id class="sidetoc__link" href></a></li>
            </template>
          </ul>
        </div>
      </main>
    </div>

    <% if content_for?(:hotdocs_footer) %>
      <%= content_for(:hotdocs_footer) %>

    <% else %>
      <footer class="reset footer">
        <div class="footer__sections">
          <% footer_items.each do |footer_item| %>
            <div class="footer__section">
              <p class="footer__heading"><%= footer_item.fetch(:heading) %></p>

              <ul>
                <% footer_item.fetch(:items).each do |item| %>
                  <li><%= item %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>

        <% unless logo.nil? %>
          <img class="footer__logo" src="<%= logo.src %>" alt="<%= logo.alt %>" height="150" width="150" />
        <% end %>
      </footer>
    <% end %>

    <p class="reset credits">Built with Rails &amp; <a class="credits__link" href="https://hotdocsrails.com">HotDocs<img class="credits__logo" src="<%= asset_path "hotdocs/icon.svg" %>" alt="A humanized and happy hot dog" height="32" width="32" /></a></p>
  </body>
</html>
