<h1>HotDocs: Nav / Sidenav</h1>

<p>
  The Nav (top) and Sidenav (hamburger on mobile) contents are declared in <%= link_to raw("<code>hotdocs_helper</code>"), "#TODO" %>:
</p>

<ul>
  <li><code>nav_left_items</code>: left part of the nav on desktop and sidenav on mobile</li>
  <li><code>nav_right_items</code>: right part of the nav on desktop and sidenav on mobile</li>
  <li><code>menu_items</code>: sidenav on mobile</li>
</ul>

<h2>Implementation</h2>

<ul>
  <li>Html: <%= link_to raw("<code>layouts/hotdocs.html.erb</code>"), "#TODO" %></li>
  <li>Css: <code>.nav</code> and <code>.sidenav</code> in <%= link_to raw("<code>hotdocs.css</code>"), "#TODO" %></li>
  <li>JavaScript: <%= link_to raw("<code>sidenav_controller.js</code>"), "#TODO" %></li>
  <li>Ruby: <%= link_to raw("<code>hotdocs_helper.rb</code>"), "#TODO" %></li>
</ul>

<h2>Appearance</h2>

<h3>Desktop</h3>

<h3>Mobile</h3>
